html,
body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  background-color: #020626;
}

/* ===Navbar section=== */
header {
  margin: 0;
  /* height: 100vh; */
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #020626;

}

ul {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.logo img {
  height: 60px;
}

ul li {
  text-align: center;
}

ul li a {
  text-decoration: none;
  display: block;
  padding: 20px;
}

ul li a .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto 5px;
}

ul li a .icon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 24px;
  transition: 0.5s;
  color: #fff;
}

ul li a:hover .icon .fa:last-child {
  color: #ffa500;
}

ul li a:hover .icon .fa {
  transform: translateY(-100%);
}

ul li a .name {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
  overflow: hidden;
}

ul li a .name span {
  display: block;
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  transition: 0.5s;
}

ul li a .name span::before {
  content: attr(data-text);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  color: #ffa500;
}

ul li a:hover .name span {
  transform: translateY(20px);
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle i {
  color: #fff;
  font-size: 24px;
}



@media screen and (max-width: 768px) {
  /* Navbar */
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    width: 96.1%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    z-index: 999;
    overflow: hidden;
  }



  nav ul.menu-open {
    display: flex;
  }

  .menu-open
  {
    width: 100%;
  }
  nav ul li {
    border-right: none;
    margin-bottom: 10px;
  }

  nav ul li:last-child {
    margin-bottom: 0;
  }

  nav ul li a {
    padding: 0;
    font-size: 16px;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    top: 40px;
    right:30px;
  }
  .container
  {
    margin-bottom: 20px;
  }
  .container_a
  {
    width: 100%;
    margin-top: 30px;
  }
  .swiper
  {
    margin-top: 100px;
  }
}


/* ===Course Title section=== */
.course-title {
  /* background: #313e89; */
  background: linear-gradient(147deg, #cfc8ff 0%, #7038fd 74%);
  border-top: 3px solid #d0daff;
  border-bottom: 3px solid #d0daff;;
  position: relative;
  color: #fff;
  /* border-radius: 100px; */
}

.course-title-text {
  padding: 20px 60px;
  /*background: #868686;*/
  position: relative;
  font-size: 20px;
  max-width: 65%;
  
}

.floating-rectangle {
  position: fixed;
  top: 25%; 
  left: 70%; 
  width: 300px;
  height: 60%;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-size: 15px;
  z-index: 2;
}

/* .disable-floating {
  position: absolute;
  top: 25%; 
  left: 70%; 
  width: 300px;
  height: 60%;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-size: 15px;
  z-index: 2;
} */

.floating-rectangle img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.price-tag-container {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 10px;
  align-items: center;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
 /* background-color: #ffa500;*/
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #d0daff;
  border-radius: 10px;
  background: linear-gradient(147deg, #cfc8ff 0%, #7038fd 74%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button + .button {
  margin-top: 10px; /* You can adjust the value as needed */
}

/* ===Course Desc section=== */
.course-desc {
  padding: 20px 60px;
  position: relative;
  font-size: 15px;
  color: #fff;
  max-width: 60%;
}

/* ===Mobile Only Settings=== */
@media screen and (max-width: 768px) {
  body {
    /* Set flex-direction to column to stack the elements vertically on mobile */
    flex-direction: column;
  }

  .floating-rectangle {
    position: relative;
    left: 5%;
    width: 85%;
    order: 0;
    transform: translateY(3%);
  }

  .course-desc {
    max-width: 90%;
    padding: 20px 20px;
  }

  .course-title-text {
    max-width: 90%;
    padding: 20px 20px;
  }
}
p {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

footer {
  position: sticky;
  margin: auto;
  font-size: 13px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  height: 500px;
  overflow: hidden;
  overflow-x: hidden;
  
}
.supports
{
  display: flex;
  flex-direction: column;
}
.social-icons
{
display: flex;  
cursor: pointer;
}
.social-icons i:hover
{
  color: skyblue;
  font-size: 20px;
  cursor: pointer;


}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 3px;
  border-radius: 50%;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 15px;
}
.col .info {
  line-height: 20px;
  text-align: justify;
}
.col .supports {
  line-height: 35px;
  text-align: justify;
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid black;
  margin: 20px 0;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  margin-bottom: 50px;
}

form .fa-regular {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
.email-id
{
  text-decoration: none;
  display: block;
  color: #fff;
  cursor: pointer;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fa-solid {
  font-size: 16px;
  color: black;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 100%;
  border: 0;
  border-bottom: 2px solid white;
  ;
  margin: 20px auto;
}

.copyright {
  text-align: center;
  color: skyblue;
}

.underline {
  width: 100%;
  height: 5px;
  background: skyblue;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
    height: 100%;
  }

  .col {
    flex-basis: 100%;
  }

  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
}